*{
  margin: 0;
  padding: 0;
}
* {box-sizing:border-box}
body{
  max-width: 1920px;
  background-color: black;
}
/* ------------------------------------------- */

/* -------------------------------------------- */
body {
  margin: 0;
}

.topnav {
  overflow: hidden;
  background-color: black;
}

.topnav a {
  font-family: 'Playfair Display', serif;
  float: left;
  display: block;
  color: #FFFF00;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.topnav a:hover {
  background-color: #FFFF00;
  color: black;
  box-shadow: 0 20px 70px 0 rgba(244, 248, 3, 0.363),0 30px 70px 0 rgba(244, 248, 3, 0.377);
}

.topnav .icon {
  display: none;
}

.topnav{
  display: none;
}

/* ------------------------------------------- */
.wrapper{
  height: 800px;
  display: flex;
  flex-direction: column;
}

.logo{
  font-family: 'Playfair Display', serif;
  font-size: 50px;
  color: #FFFF00;
  display: flex;
  justify-content: space-around;
}

.nav{
  width: 100%;
}

ul,li{
  list-style: none;
  display: flex;
} 

.nav a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  background-color: black;
  border-radius: 5px;
  font-size: 25px;
  border: solid 2px #FFFF00;
  color:#FFFF00;
  text-decoration: none;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.nav a:hover {
  box-shadow: 0 10px 40px 0 rgba(244, 248, 3, 0.363),0 10px 40px 0 rgba(244, 248, 3, 0.377);
}

.nav a:hover{
  opacity: 1;
  background-color: #FFFF00;
  border: solid 2px black;
  color: black;
}

.wrapper{
  background: url(img/di-maitland-474785-unsplash.jpg) no-repeat center transparent;
  background-size: cover;
}
.secnion01{
  color:#FFFF00;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  text-align: center;
  margin-bottom: 50px;
}
strong{
  font-size: 40px;
}
.img{
  display: flex;
  justify-content: space-around;
}
/* -------------------------------------- */
.container{
  margin-bottom: 50px;
  font-family: 'Playfair Display', serif;
  font-size: 30px;
  height: 150px;
  background-color: #FFFF00;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ------------------------------------------------- */
.header{
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

}
.column{
  flex: 25%;
}
/* -------------------------------------------------- */
.main{
  margin-bottom: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.main div{
  margin: 15px;
  color: #FFFF00;
  border: 2px solid #FFFF00; 
}
.personnel{
  font-family: 'Playfair Display', serif;
  text-align: center;
  width: 250px;
  height: 500 px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.personnel:hover {
  box-shadow: 0 20px 70px 0 rgba(244, 248, 3, 0.363),0 30px 70px 0 rgba(244, 248, 3, 0.377);
}
/* -------------------------------------------- */

.secnion{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.infe{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: #FFFF00;
  border-radius: 20px;
  margin: 20px;
  border: 2px solid #FFFF00;
  width: 300px;
  height: 400px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}
.infe:hover {
  box-shadow: 0 20px 70px 0 rgba(244, 248, 3, 0.363),0 30px 70px 0 rgba(244, 248, 3, 0.377);
}
/* -------------------------------------------- */
.scrollup{
  width:60px;
  height:60px;
  opacity:1;
  position:fixed;
  bottom:50px;
  right:100px;
  display:none;
  text-indent:-9999px;
  background: url('img/008.png') no-repeat;
}
/* --------------------------- */
.secnion02{
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}
.text02{
  width: 60%;
  color: #FFFF00;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-70%, -70%);
  font-size: 48px;
  font-family: 'Playfair Display', serif;
}
/* ---------------------------------------- */
.contakt{
  margin-bottom: 50px;
  font-size: 28px;
  font-family: 'Playfair Display', serif;
  width: 100%;
  color: #FFFF00;
  display: flex;
  justify-content: space-around;
}
.input{
  margin: 5px;
  background-color: black;
  color: #FFFF00;
  border: solid 2px  #FFFF00;
  padding: 10px 40px;
}
.button{
  background-color:#FFFF00;
  color: black;
  border: solid 2px  #FFFF00;
  padding: 10px 25px;
  font-size: 15px;
  font-family: 'Playfair Display', serif;
  
}

/* ------------------------------------------ */
footer{
  font-size: 25px;  
  font-family: 'Playfair Display', serif;
  width: 100%;
  background-color:#FFFF00;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* ----------------------------------------------- */

/* ------------------------------------------------ */
@media screen and (max-width: 975px){
  .topnav{
    display: block;
  }
  .logo{
    display: none;
  }
  .nav {
    display: none;
  }
  .wrapper{
    height: 600px;
  }
  .container{
    font-size: 20px;
  }
  .secnion01{
    font-size: 20px;
  }
  strong{
    font-size: 20px;
  }
  .text02{
    font-size: 20px;
  }
  footer{
    height: 150px;
  }
  .scrollup{
    bottom:150px;
    width:50px;
    height:50px;
  }
}

@media screen and (max-width: 975px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 975px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}

@media screen and (max-width: 800px){
  .wrapper{
    height: 500px;
  }
  .container{
    height: 100px;
  }
  .infe{
    width: 300px;
    height: 300px;
  }
  .text{
    font-size: 20px;
  }
}

@media screen and (max-width: 700px){
  .wrapper{
    height: 400px;
  }
  .contakt{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .scrollup{
    right:25px;
  }
}
@media screen and (max-width: 480px){
  .scrollup{
    right:15px;
  }
}

@media screen and (max-width: 450px){
  .contakt{
    font-size: 20px;
  }
  footer{
    font-size: 20px;
  }
  .text02{
    font-size: 16px;
  }
  .scrollup{
    right:8px;
  }
}
